---
target: base-repo/versions.env
---
{% set github_org = data.get('vars')['github']['org'] -%}

RELEASE=debian/jessie
GITHUB_ORG={{ github_org }}
DUMB_INIT_VERSION=1.2.0
GOSU_VERSION=1.10
GOSS_VERSION=0.3.4
LIBOVERRIDEHOSTNAME_VERSION=1.1
CONTAINER_UTILS_VERSION=0.1
