---
target: base-repo/versions.env
---
{% set github_user = data.get('vars')['github']['user'] -%}

RELEASE=debian/jessie
GITHUB_USER={{ github_user }}
DUMB_INIT_VERSION=1.2.0
GOSU_VERSION=1.10
GOSS_VERSION=0.3.4
LIBOVERRIDEHOSTNAME_VERSION=1.1
CONTAINER_UTILS_VERSION=0.1
